<div class="form-body bg-color">
  <div class="row">
      <div class="form-holder">
          <div class="form-content">
              <div class="form-items">
                  <h3>Register Today</h3>
                  <p>Fill in the data below.</p>
                  <form class="requires-validation" novalidate [formGroup]="postForm">

                      <div class="col-md-12">
                         <input class="form-control" type="text" placeholder="Title"  formControlName="title">
                         <span *ngIf="PostFormVal['title'].invalid && PostFormVal['title'].touched" class="text-white mt-2">Title is Required</span>
                      </div>
                      <div class="col-md-12">
                        <input class="form-control" type="text"  placeholder="UserId" formControlName="userId">
                        <span *ngIf="PostFormVal['userId'].invalid && PostFormVal['userId'].touched" class="text-white mt-2">UserId is Required</span>
                     </div>
                     <!-- <div class="col-md-12">
                      <input class="form-control" type="text"  placeholder="reactions" formControlName="reactions">

                   </div> -->

                      <div class="form-button mt-3 text-center">
                          <button id="submit" type="submit" class="btn btn-primary" (click)="AddPostData()"> Post</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
